body {
  /* background-image: url("../../assets/img/weather.jpg"); */
  background-color: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.output {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}

.output2 {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}

.output3 {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}

.output4 {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}

.output5 {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}

.output6 {
  color: #22b422;
  font-style: bold;
  font-size: 22px;
}


.outputErr {
  color: red;
}

.outputErr2 {
  color: red;
}

.outputErr3 {
  color: red;
}

.outputErr4 {
  color: red;
}

.outputErr5 {
  color: red;
}

.outputErr6 {
  color: red;
}

.outputErr7 {
  color: red;
}



